* text=auto
*.py text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
Dockerfile text eol=lf
*.csv text eol=lf
*.ipynb text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.mp4 binary
*.wav binary
